@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&display=swap');

.header {
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: #FEEBD5;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.5s;
    overflow: hidden;
}

/* NOTIFICATIONS */
.alert {
    padding: 20px;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}


.homevideo {
    width: 60%;
    height: 627px;
    margin: 0px auto;
    display: block;
    align-self: center;
}

iframe {
    border: 0;
    height: 530px;
    width: 480px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}



.show {
    display: block !important;
    position: fixed !important;
}

.showmsg {
    display: block !important;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #f0ede0;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 4%;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content-msg {
    display: none;
    position: relative;
    right: 4%;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropcolor {
    background-color: #f1f1f1;
}

.dropdown-content a,
.dropdown-content-msg a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* REGISTER */

.link-transition {
    opacity: 0;
    transition: opacity 0.5s;
}

.link-transition.show {
    opacity: 1;
}


#loading {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    transition: opacity 0.4s ease-in-out;
}

#loading-image {
    width: 6%;
    height: 12%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
}

.hideev {
    opacity: 0 !important;
}

.separation {
    clear: both;
    margin-top: 10px;
    margin-left: 125px;
    height: 200px;
    width: 5px;
    background: black;
}

/* DRAG AND DROP */

.draggable {
    width: 100px;
    height: 100px;
    background-color: #f1f1f1;
    margin: 0px;
    padding: 0px;
    cursor: move;
}

.with-margin {
    margin: 10px;
}

.drop-zone {
    width: 102px;
    height: 99px;
    background-color: #e0e0e0;
    margin: -1px;
    padding: 0px;
    border: 1px #000000 solid;
}

#resetZone {
    width: 500px;
    height: 500px;
    background-color: #e0e0e0;
    margin: 10px;
    padding: 20px;
}

/* THE PAGE  */

.sidebar {
    position: fixed;
    width: 17%;
    height: 90%;
    background-color: #FEEBD5;
    overflow: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    z-index: 1;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}

/* #maxer{
    width: max-content;
} */

#minheight {
    min-height: 82vh;
}

body {
    position: relative;
    overflow-x: hidden!important;
}

.footer {
    margin-bottom: 0px;
    width: 92%;
    margin-left: 8%;
    background-color: #FEEBD5;
    transition: 0.5s;
    position: absolute;
}

#avatar {
    width: 50px;
    border-radius: 50%;
    object-fit: contain;
}

.contented {
    width: 280px;
    height: 88vh;
}

* {
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-decoration: dotted;
}

.content {
    margin-left: 17%;
    margin-top: 5%;
}

.bar {
    background-color: #FEEBD5;
    height: 12vh;
}

.heading {
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: #FEEBD5;
    overflow: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.5s;
    overflow: hidden;
}

.logo {
    width: auto;
    height: 65px;
}

.textlogo {
    width: 130px;
    height: auto;
}


.invalid {
    color: red;
    font-size: small;
}

.eventimg {
    width: 20%;
    aspect-ratio: 3/2;
    object-fit: contain;

}

.sun-moon {
    position: relative;
    width: 100px;
    height: 56px;
    padding: 5px;
    border-radius: 45px;
    border: 3px solid #1a237e;
    background-color: #3f51b5;
    overflow: hidden;
    transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.circle {
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}

.small {
    width: 30px;
    height: 30px;
    background: #3f51b5;
    left: 20px;
    top: 3px;
    transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.large {
    width: 40px;
    height: 40px;
    background: #fff;
    border: 3px solid #fff;
    top: 50%;
    transform: translateY(-50%);
    left: 7px;
    transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.sun-moon input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.move {
    background-color: #fff;
    border-color: #f3909a;
}


.move .large {
    left: 50px;
    background: yellow;
    border-color: orange;
}


.move .small {
    left: 60px;
    top: 50px;
    background-color: #fff;
}

/* Modal MESSAGERIE + login/help */
.modal {
    display: none;
    transition: opacity 0.6s;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    left: 0;
    top: 0;
    bottom: 600px;
    right: 50px;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    bottom: 6px;
    right: 50px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

ul {
    padding: 0;
}

.messages {
    position: fixed;
    bottom: 60px;
    right: 50px;
    z-index: 2;
}

.addropdown {
    border: 1px solid black;
    background-color: white;
    top: 100%;
    left: 0;
    z-index: 100;
    width: 100%;
}

.addropdown li {
    cursor: pointer;
    list-style-type: none;
    height: 50px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.addropdown li span {
    font-weight: bold;
}

.addropdown li:hover {
    background-color: lightsteelblue;
}

.addropdown ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

.adpanel {
    width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.adpanel input[type=text] {
    height: 30px;
    border-radius: 5px;
    border: none;
    border: 1px solid lightgray;
    font-size: 15px;
}

.sep {
    margin-top: 20px;
}

.test {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}




.forumbtn {
    height: 75px;
}

.more {
    font-size: 40px;
    text-decoration: none;
    color: black;
}

.aaaa:hover {
    background-color: #edad0b;
    color: white;
}

.activated {
    color: #d36f0b !important;
}

@media (max-width: 685px) {
    * {
        display: none;
    }

}

.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#image {
    display: none;
}


[data-bs-theme="blue"] {
    --bs-body-color: var(--bs-white);
    --bs-body-color-rgb: #{to-rgb($white)};
    --bs-body-bg: var(--bs-blue);
    --bs-body-bg-rgb: #{to-rgb($blue)};
    --bs-tertiary-bg: #{$blue-600};

    .dropdown-menu {
        --bs-dropdown-bg: #{mix($blue-500, $blue-600)};
        --bs-dropdown-link-active-bg: #{$blue-700};
    }

    .btn-secondary {
        --bs-btn-bg: #{mix($gray-600, $blue-400, .5)};
        --bs-btn-border-color: #{rgba($white, .25)};
        --bs-btn-hover-bg: #{darken(mix($gray-600, $blue-400, .5), 5%)};
        --bs-btn-hover-border-color: #{rgba($white, .25)};
        --bs-btn-active-bg: #{darken(mix($gray-600, $blue-400, .5), 10%)};
        --bs-btn-active-border-color: #{rgba($white, .5)};
        --bs-btn-focus-border-color: #{rgba($white, .5)};
        --bs-btn-focus-box-shadow: 0 0 0 rgba(255, 255, 255, );
    }
}

[data-theme=dark] {
    --bs-body-color: #adb5bd;
    --bs-body-color-rgb: 173, 181, 189;
    --bs-body-bg: #817597 !important;
    --bs-body-bg-rgb: 33, 37, 41;
    --bs-emphasis-color: #f8f9fa;
    --bs-emphasis-color-rgb: 248, 249, 250;
    --bs-secondary-color: rgba(249, 252, 255, 0.75);
    --bs-secondary-color-rgb: 173, 181, 189;
    --bs-secondary-bg: #6889ab;
    --bs-secondary-bg-rgb: 52, 58, 64;
    --bs-tertiary-color: rgba(173, 181, 189, 0.5);
    --bs-tertiary-color-rgb: 173, 181, 189;
    --bs-tertiary-bg: #2b3035;
    --bs-tertiary-bg-rgb: 43, 48, 53;
    --bs-emphasis-color: #fff;
    --bs-primary-text: #6ea8fe;
    --bs-secondary-text: #dee2e6;
    --bs-success-text: #75b798;
    --bs-info-text: #6edff6;
    --bs-warning-text: #946aff;
    --bs-danger-text: #ea868f;
    --bs-light-text: #f8f9fa;
    --bs-dark-text: #dee2e6;
    --bs-primary-bg-subtle: #031633;
    --bs-secondary-bg-subtle: #212529;
    --bs-success-bg-subtle: #051b11;
    --bs-info-bg-subtle: #032830;
    --bs-warning-bg-subtle: #332701;
    --bs-danger-bg-subtle: #2c0b0e;
    --bs-btn-bg: #3B3259;
    --bs-light-bg-subtle: #343a40;
    --bs-dark-bg-subtle: #1a1d20;
    --bs-primary-border-subtle: #084298;
    --bs-secondary-border-subtle: #495057;
    --bs-success-border-subtle: #0f5132;
    --bs-info-border-subtle: #055160;
    --bs-warning-border-subtle: #664d03;
    --bs-danger-border-subtle: #842029;
    --bs-light-border-subtle: #495057;
    --bs-dark-border-subtle: #343a40;
    --bs-heading-color: #fff;
    --bs-link-color: #6ea8fe;
    --bs-link-hover-color: #9ec5fe;
    --bs-link-color-rgb: 110, 168, 254;
    --bs-link-hover-color-rgb: 158, 197, 254;
    --bs-code-color: #e685b5;
    --bs-border-color: #495057;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-btn-color: #000;
    --bs-btn-bg: #a98deb!important;
    --bs-btn-border-color: #a98deb!important;
    --bs-btn-hover-color: #000!important;
    --bs-btn-hover-bg: #7b63b3!important;
    --bs-btn-hover-border-color: #501ad8!important;
    --bs-btn-focus-shadow-rgb: 217, 164, 6!important;
    --bs-btn-active-color: #000!important;
    --bs-btn-active-bg: #6e26ff!important;
    --bs-btn-active-border-color: #501ad8!important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)!important;
    --bs-btn-disabled-color: #000!important;
    --bs-btn-disabled-bg: #a98deb!important;
    --bs-btn-disabled-border-color: #a98deb!important;
    .activated {
        color: #ffffff;
    }

    .header,
    .footer,
    .bar {
        background-color: #8274B2 !important;
    }

    .dropcolor {
        background-color: #888494 !important;
        color: white;
    }

    .bg-secondary {
        background-color: #3B3259 !important;
    }

    #loading {
        background-color: #000;
        opacity: 0.4;
    }
}


.wrapper {
    background: #fff;
    max-width: 450px;
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
        0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

/* Login & Signup Form CSS Start */
.form {
    padding: 25px 30px;
}

.form header {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.form form {
    margin: 20px 0;
}

.form form .error-text {
    color: #721c24;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
    margin-bottom: 10px;
    display: none;
}

.form form .name-details {
    display: flex;
}

.form .name-details .field:first-child {
    margin-right: 10px;
}

.form .name-details .field:last-child {
    margin-left: 10px;
}

.form form .field {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    position: relative;
}

.form form .field label {
    margin-bottom: 2px;
}

.form form .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form form .field input {
    outline: none;
}

.form form .image input {
    font-size: 17px;
}

.form form .button input {
    height: 45px;
    border: none;
    color: #fff;
    font-size: 17px;
    background: #333;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 13px;
}

.form form .field i {
    position: absolute;
    right: 15px;
    top: 70%;
    color: #ccc;
    cursor: pointer;
    transform: translateY(-50%);
}

.form form .field i.active::before {
    color: #333;
    content: "\f070";
}

.form .link {
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
}

.form .link a {
    color: #333;
}

.form .link a:hover {
    text-decoration: underline;
}

.users {
    padding: 25px 30px;
}

.users header,
.users-list a {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
    justify-content: space-between;
}

.wrapper img {
    object-fit: cover;
    border-radius: 50%;
}

.users header img {
    height: 50px;
    width: 50px;
}

:is(.users, .users-list) .content {
    display: flex;
    align-items: center;
}

:is(.users, .users-list) .content .details {
    color: #000;
    margin-left: 20px;
}

:is(.users, .users-list) .details span {
    font-size: 18px;
    font-weight: 500;
}

.users header .logout {
    display: block;
    background: #333;
    color: #fff;
    outline: none;
    border: none;
    padding: 7px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 17px;
}

.users .search {
    margin: 20px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.users .search .text {
    font-size: 18px;
}

.users .search input {
    position: absolute;
    height: 42px;
    width: 888px;
    font-size: 16px;
    padding: 0 13px;
    border: 1px solid #e6e6e6;
    outline: none;
    border-radius: 5px 0 0 5px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}

.users .search input.show {
    opacity: 1;
    pointer-events: auto;
}

.users .search button {
    position: relative;
    z-index: 1;
    width: 47px;
    height: 42px;
    font-size: 17px;
    cursor: pointer;
    border: none;
    background: #fff;
    color: #333;
    outline: none;
    border-radius: 0 5px 5px 0;
    transition: all 0.2s ease;
}

.users .search button.active {
    background: #333;
    color: #fff;
}

.search button.active i::before {
    content: '\f00d';
}

.users-list {
    max-height: 350px;
    overflow-y: auto;
}

:is(.users-list, .chat-box)::-webkit-scrollbar {
    width: 0px;
}

.users-list a {
    padding-bottom: 10px;
    margin-bottom: 15px;
    padding-right: 15px;
    border-bottom-color: #f1f1f1;
    text-decoration: none;
}

.users-list a:last-child {
    margin-bottom: 0px;
    border-bottom: none;
}

.users-list a img {
    height: 40px;
    width: 40px;
}

.users-list a .details p {
    color: #67676a;
}

.users-list a .status-dot {
    font-size: 12px;
    color: #468669;
    padding-left: 10px;
}

.users-list a .status-dot.offline {
    color: #ccc;
}

/* Chat Area CSS Start */
.chat-area header {
    display: flex;
    align-items: center;
    padding: 18px 30px;
}

.chat-area header .back-icon {
    color: #333;
    font-size: 18px;
}

.chat-area header img {
    height: 45px;
    width: 45px;
    margin: 0 15px;
}

.chat-area header .details span {
    font-size: 17px;
    font-weight: 500;
}

.chat-box {
    position: relative;
    min-height: 500px;
    max-height: 500px;
    overflow-y: auto;
    padding: 10px 30px 20px 30px;
    background: #f7f7f7;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
        inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}

.chat-box .text {
    position: absolute;
    top: 45%;
    left: 50%;
    width: calc(100% - 50px);
    text-align: center;
    transform: translate(-50%, -50%);
}

.chat-box .chat {
    margin: 15px 0;
}

.chat-box .chat p {
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%),
        0rem 16px 16px -16px rgb(0 0 0 / 10%);
}

.chat-box .outgoing {
    display: flex;
}

.chat-box .outgoing .details {
    margin-left: auto;
    max-width: calc(100% - 130px);
}

.outgoing .details p {
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}

.chat-box .incoming {
    display: flex;
    align-items: flex-end;
}

.chat-box .incoming img {
    height: 35px;
    width: 35px;
}

.chat-box .incoming .details {
    margin-right: auto;
    margin-left: 10px;
    max-width: calc(100% - 130px);
}

.incoming .details p {
    background: #fff;
    color: #333;
    border-radius: 18px 18px 18px 0;
}

.typing-area {
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}

.typing-area input {
    height: 45px;
    width: calc(100% - 58px);
    font-size: 16px;
    padding: 0 13px;
    border: 1px solid #e6e6e6;
    outline: none;
    border-radius: 5px 0 0 5px;
}

.typing-area button {
    color: #fff;
    width: 55px;
    border: none;
    outline: none;
    background: #333;
    font-size: 19px;
    cursor: pointer;
    opacity: 0.7;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
    transition: all 0.3s ease;
}

.typing-area button.active {
    opacity: 1;
    pointer-events: auto;
}

/* Responive media query */
@media screen and (max-width: 450px) {

    .form,
    .users {
        padding: 20px;
    }

    .form header {
        text-align: center;
    }

    .form form .name-details {
        flex-direction: column;
    }

    .form .name-details .field:first-child {
        margin-right: 0px;
    }

    .form .name-details .field:last-child {
        margin-left: 0px;
    }

    .users header img {
        height: 45px;
        width: 45px;
    }

    .users header .logout {
        padding: 6px 10px;
        font-size: 16px;
    }

    :is(.users, .users-list) .content .details {
        margin-left: 15px;
    }

    .users-list a {
        padding-right: 10px;
    }

    .chat-area header {
        padding: 15px 20px;
    }

    .chat-box {
        min-height: 400px;
        padding: 10px 15px 15px 20px;
    }

    .chat-box .chat p {
        font-size: 15px;
    }

    .chat-box .outogoing .details {
        max-width: 230px;
    }

    .chat-box .incoming .details {
        max-width: 265px;
    }

    .incoming .details img {
        height: 30px;
        width: 30px;
    }

    .chat-area form {
        padding: 20px;
    }

    .chat-area form input {
        height: 40px;
        width: calc(100% - 48px);
    }

    .chat-area form button {
        width: 45px;
    }
}



.avatar {
    pointer-events: none;
    user-select: none;
    position: relative;
    flex: 0 0 auto;
    height: 100%;
    width: 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

.avatar.fit {
    width: 100%;
    height: 100%;
}

.avatar.clicked {
    animation: avatar_clicked 125ms ease-in-out 1
}

.avatar .eyes.bounce,
.avatar .mouth.bounce {
    animation: avatar_bounce 125ms ease-in-out 1;
}

.avatar .color {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/img/avatar/color_atlas.gif');
    background-size: 1000% 1000%
}

.avatar .eyes {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/img/avatar/eyes_atlas.gif');
    background-size: 1000% 1000%
}

.avatar .mouth {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/img/avatar/mouth_atlas.gif');
    background-size: 1000% 1000%
}

.avatar .special {
    position: absolute;
    left: -33%;
    top: -33%;
    width: 166%;
    height: 166%;
    background-image: url('/img/avatar/special_atlas.gif');
    background-size: 1000% 1000%
}

.avatar .owner {
    position: absolute;
    width: 50%;
    height: 50%;
    left: -5%;
    top: -22%;
    z-index: 2;
    background-image: url('/img/avatar/crown.gif');
    background-position: center;
    background-size: contain
}

.panels {
    display: flex;
    width: 100%
}

.panel {
    flex: 0 0 auto;
    width: 400px;
    border-radius: 3px;
    padding: 15px
}

.panel-left {
    margin-right: 8px;
    flex: 1 1 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end
}

.panel-right {
    margin-left: 8px;
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.avatar-customizer {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    background: rgba(0, 0, 0, .1);
    padding: 8px;
    border-radius: 3px;
}

.avatar-customizer .randomize {
    cursor: pointer;
    position: absolute;
    width: 32px;
    height: 32px;
    right: 4px;
    top: 4px;
    opacity: .6;
    background-image: url('/img/avatar/randomize.gif');
    transition: opacity .15s ease, transform .15s ease
}

.avatar-customizer .randomize:hover {
    opacity: 1;
    transform: scale(1.2)
}

.avatar-customizer .container {
    width: 160px;
    margin: unset;
    height: 130px;
}

.avatar-customizer .arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.avatar-customizer .arrows .arrow {
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, .15));
    flex: 0 0 auto;
    cursor: pointer;
    width: 34px;
    height: 34px;
    background-image: url('/img/avatar/arrow.gif');
    background-size: 200%;
    background-repeat: no-repeat
}

.avatar-customizer .arrows.left .arrow {
    background-position: 0 0
}

.avatar-customizer .arrows.left .arrow:hover {
    background-position: -34px 0
}

.avatar-customizer .arrows.right .arrow {
    background-position: 0px -34px
}

.avatar-customizer .arrows.right .arrow:hover {
    background-position: -34px -34px
}

@keyframes avatar_bounce {

    0%,
    100% {
        top: 0
    }

    15% {
        top: 6%
    }
}

@keyframes avatar_clicked {

    0%,
    100% {
        transform: scale(1)
    }

    15% {
        transform: scale(1.2)
    }
}
